---
title: Manuals
layout: doc
---
<h1>Manuals</h1>
<p>
  Collection of manual and misc documentation for OS.js
</p>
<%= partial "docheader" %>

<!--
<h1>Information</h1>
<ul>
  <li><a href="overview.html">OS.js Overview</a></li>
</ul>
-->

<h1>Installation and configuration</h1>
<ul>
  <li><a href="man-install.html">Installing OS.js</a></li>
  <li><a href="man-configuration.html">Configuring and building</a></li>
  <li><a href="man-package-manager.html">Managing packages/applications</a></li>
  <li><a href="man-build-grunt.html">Build system and Grunt</a></li>
</ul>

<h1>Additional features</h1>
<ul>
  <li><a href="man-multiuser.html">Setting up multi-user environment</a></li>
  <li><a href="man-google-api.html">Enabling Google API and VFS support</a></li>
  <li><a href="man-windows-live-api.html">Enabling Windows Live API and OneDrive VFS support</a></li>
  <li><a href="man-dropbox.html">Enabling Dropbox VFS support</a></li>
  <li><a href="man-mountpoints.html">Adding folders to VFS</a></li>
  <li><a href="man-broadway.html">Setting up Broadway</a></li>
  <li><a href="man-zip.html">Adding support for ZIP files</a></li>
</ul>

<h1>Applications</h1>
<ul>
  <li><a href="app-corewm.html">CoreWM</a></li>
  <li><a href="app-filemanager.html">File Manager</a></li>
</ul>
