---
title: Adding custom mountpoints
layout: doc
---
<h1>Adding custom mountpoints</h1>

<p>
  Simply update the configuration:
</p>
<pre class="code">
# Replace 'your_name' with a identifier of your own
grunt config:set:client.VFS.Mountpoints.your_name.description:"Your description here"
grunt config:set:server.vfs.mounts.your_name:/path/to/mountpoint
grunt config
</pre>
