---
title: Adding Dropbox VFS support
layout: doc
---
<h1>Adding Dropbox VFS support</h1>

<p>
  <b>HTTPS ONLY!</b>
</p>

<p>
  Dropbox support requires you to install an external repository:
</p>

<pre class="code">
git clone https://github.com/dropbox/dropbox-js.git vendor/dropbox-js

# You may have to build dropbox.js manually before continuing
# Windows users: You'd have to use resolve the symlinks in "dist/vendor"
</pre>

<p>
  Simply update the configuration:
</p>
<pre class="code">
grunt config:set:client.DropboxAPI.ClientKey:YOUR_CLIENT_KEY
grunt config:set:client.VFS.Dropbox.Enabled:true
grunt config:preload:dropbox:/vendor/dropbox.js
grunt config
</pre>
