---
title: Development Environments
layout: doc
---
<h1>Development Environments</h1>

For more information about configuration see <a href="/doc/manuals/man-configuration.html">the configuration section</a>.

If you run <pre>grunt watch</pre> in the background it will automatically configure the environment when files are changed (or added/removed).

<h2>dist (production)</h1>

<p>
  This is the production build of OS.js. All files have been compiled into single files (and can be compressed) to increase loading speed. This will however make it harder to debug.
</p>
<p>
  To build simply do:
</p>
<pre class="code">
grunt

# or:
grunt dist
</pre>

<h2>dist-dev (development)</h1>

<p>
  This is what you should use when developing or testing changes. It will load all files directly from source (with exception of config and theme files).
</p>
<p>
  This command is a shortcut to perform all tasks that dist-dev requires:
</p>
<pre class="code">
grunt dist-dev
</pre>
