---
title: Installing OS.js
layout: doc
---
<h1>Installing OS.js</h1>

<p>
  Please look at <a href="//github.com/andersevenrud/OS.js-v2/blob/master/INSTALL.md"><b>INSTALL.md</b></a> for <i>full instructions</i>. This is just a simplified guide.
</p>

<h2>Download</h2>

<p>
  Download and extract or clone with git.
</p>

<h2>Install dependencies</h2>

<p>
  Before you can build OS.js you need to install the dependencies.
</p>

<p>
  First you need <b>Grunt</b>:
</p>
<pre class="code">
# Unix
sudo npm install -g node-cli

# Windows (as administrator)
npm install -g node-cli
</pre>

<p>
  Then install dependencies:
</p>
<pre class="code">

</pre>

<h2>Build</h2>

<p>
  Simply run:
</p>

<pre class="code">
grunt
</pre>

<h2>Start</h2>

<pre class="code">
# Unix
./bin/start-node-dist.sh

# Windows
bin\win-start-node-dist
</pre>

<h2>View</h2>

<p>
  If the server started successfully simply open <a href="http://localhost:8000">http://localhost:8000</a>
</p>
