---
title: Managing system packages/applications
layout: doc
---
<h1>Managing system packages/applications</h1>

<p>
  To add a repository, simply clone and add the directory name to a list.
</p>

<script type="text/javascript" src="https://asciinema.org/a/1ifmggt8mpv2vyyhuf8vv0q2n.js" id="asciicast-1ifmggt8mpv2vyyhuf8vv0q2n" async></script>

<pre class="code">
# Clone or download into src/packages
git clone --recursive https://github.com/username/package-repository src/packages/package-repository

# Add to repositories list
grunt config:add-repository:package-repository

# Or, If you want to remove repository from list
grunt config:remove-repository:package-repository

# Update manifest
grunt manifest

</pre>

<p>Full list of packages can be found on <a href="https://github.com/os-js/OS.js/wiki/Package-Repositories">this Wiki article</a></p>

<h1>Enabling and Disabling Packages</h1>
<p>
  Look at <a href="/doc/manuals/man-build-grunt.html">configuration manual</a> page for more information.
</p>
<pre class="code">

# Enable
grunt packages:enable:PACKAGENAME

# Disable
grunt packages:disable:PACKAGENAME

# Update manifest
grunt manifest

</pre>

<h1>Managing user packages</h1>
<p>
  You can install packages via the <b>Settings</b> application. To remove one simple delete the directory from the <i>Packages</i> folder in your home directory and refresh the metadata.
</p>
<p>
  Currently it supports zip files as a method of installation. Also has a simple, but working app store.
</p>
<p>
  <b>Please note that the <i>Application API</i> is not available here because of security reasons</b>
</p>

