---
title: Adding Windows Live API and OneDrive VFS support
layout: doc
---
<h1>Adding Windows Live API and OneDrive VFS support</h1>

<p>
  Simply update the configuration:
</p>
<pre class="code">
grunt config:set:client.WindowsLiveAPI.ClientId:YOUR_CLIENT_ID
grunt config:set:client.VFS.OneDrive.Enabled:true
grunt config
</pre>
