---
title: Configuring and building
layout: doc
---
<h1>Configuring and building</h1>

<p>
  You can find all the configuration files in <b>src/conf</b> directory.
</p>
<p>
  The files are loaded in alphabetical order (that is why they are prefixed with a number) and merged togheter into one final map.
</p>
<p>
  It is highly encouraged that you write your own files instead of modifiying the provided ones (because they may be affected by updates).
</p>
<p>
  I provide a <a href="https://raw.githubusercontent.com/andersevenrud/OS.js-v2/master/src/templates/conf/900-custom.json">example</a> in the repository.
</p>

<p>
  If you make any changes, issue this command to rebuild configuration files (not needed if you run "grunt watch"):
</p>
<pre>grunt config</pre>

<h1>Setting\Getting configuration via Grunt</h1>
<p>
  You can also set (and get) configration via Grunt.
</p>
<pre class="code">
grunt config:get:client.Connection.RootURI

grunt config:set:client.Connection.RootRUI:/custom/path

grunt config # rebuild config files
</pre>

<h1>Building OS.js</h1>

OS.js has two build directories.

<h2>dist</h1>

<p>
  This is the production build of OS.js. All files have been compiled into single files (and can be compressed) to increase loading speed. This will however make it harder to debug.
</p>

<p>
  To build simply do:
</p>
<pre>grunt</pre>
<p>
  Or alternatively:
</p>
<pre>grunt dist</pre>

<h2>dist-dev</h1>

<p>
  This is what you should use when developing or testing changes. It will load all files directly from source (with exception of config and theme files).
</p>

<p>
  This command is a shortcut to perform all tasks that dist-dev requires:
</p>

<pre>grunt dist-dev</pre>
