---
title: Installing OS.js
layout: doc
---
<h1>Installing OS.js</h1>

<p>
  Please look at <a href="//github.com/os-js/OS.js/blob/master/INSTALL.md"><b>INSTALL.md</b></a> for <i>full instructions</i>. This is just a simplified guide.
</p>

<p>
  There are also automated installers for both <a href="/installer">UNIX-like systems</a> and <a href="/installer.exe">Windows</a>. More information in <a href="https://github.com/os-js/OS.js#installation">README.md</a>. After running the installer you can skip to "Start" and "View" steps below.
</p>

<h2>Download</h2>

<p>
  Download and extract or clone with git. Then enter the directory
</p>
<pre class="code">
# Use a terminal/command-line and find the correct directory where you downloaded
cd OS.js
</pre>

<h2>Install dependencies</h2>

<p>
  Before you can build OS.js you need to install the dependencies.
</p>

<p>
  First you need <b>Grunt</b>:
</p>
<pre class="code">
# Unix
sudo npm install -g node-cli

# Windows (as administrator)
npm install -g node-cli
</pre>

<p>
  Then install dependencies:
</p>
<pre class="code">
npm install --production
</pre>

<h2>Build</h2>

<p>
  Simply run:
</p>

<pre class="code">
grunt
</pre>

<h2>Start</h2>

<pre class="code">
# Unix
./bin/start-dist.sh

# Windows
bin\win-start-dist
</pre>

<h2>View</h2>

<p>
  If the server started successfully simply open <a href="http://localhost:8000">http://localhost:8000</a>
</p>

<p style="padding-top:50px;">
  <i>Wondering about <a href="/doc/manuals/man-configuration.html">development environments</a> ?</i>
</p>
