---
title: Setting up Broadway
layout: doc
---
<h1>Setting up Broadway</h1>
<p>
  With Broadway you can run native GTK+ 3.x Linux applications in OS.js via WebSockets.
</p>
<p>This is not yet ready for production: <a href="https://github.com/os-js/OS.js/issues/29">Github issue</a></p>

<h2>Enable and build</h2>
<pre class="code">
# Enable package
grunt packages:enable:Broadway

# If you run 'dist'
grunt dist

# If you run 'dist-dev'
grunt config manifest # or simply dist-dev
</pre>

<h2>Prepare X server</h2>

<p>
  Run these commands on the server:
</p>
<pre>
cd Broadway/vendor/
npm install
xhost +
./broadway-server.sh
</pre>

<h2>Usage</h2>
<p>
  To use in OS.js just click the notification icon in panel and connect.
</p>
