---
title: Configuring and building
layout: doc
---
<h1>Configuring and building</h1>

<p>
  You can find all the configuration files in <b>src/conf</b> directory.
</p>
<p>
  The files are loaded in alphabetical order (which is why they are prefixed with a number) and merged together into one final map.
</p>
<p>
  It is highly encouraged that you write your own files instead of modifying the provided ones (because they may be affected by updates).
</p>
<p>
  I provide an <a href="https://raw.githubusercontent.com/andersevenrud/OS.js-v2/master/src/templates/conf/900-custom.json">example</a> in the repository.
</p>

<p>
  If you make any changes, issue this command to rebuild configuration files (not needed if you run "grunt watch"):
</p>
<pre>grunt config</pre>

<h1>Setting\Getting configuration via Grunt</h1>
<p>
  You can also set (and get) configration via Grunt.
</p>
<pre class="code">
grunt config:get:client.Connection.RootURI

grunt config:set:client.Connection.RootRUI:/custom/path

grunt config # rebuild config files
</pre>

<h1>Building OS.js</h1>

OS.js has two build directories. More information is located in the <a href="/doc/manuals/man-development.html">development environment documentation</a>.

To build all changes, simply run:

<pre class="code">
grunt
</pre>
