<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><?js= title ?> | OS.js API</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" />
    <link href="/css/jsdoc.css" type="text/css" rel="stylesheet" />
    <link href="/css/manual.css" type="text/css" rel="stylesheet" />

    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/favicon.png" />
    <link rel="author" href="https://plus.google.com/101576798387217383063" />
    <link rel="publisher" href="https://plus.google.com/101576798387217383063" />

    <script type="text/javascript">
      if ( window.location.hostname === 'andersevenrud.github.io' ) {
        window.location = '//os.js.org' + window.location.pathname.replace(/\/OS\.js-v2/, '');
      }
    </script>
  </head>
  <body id="documentation">
    <header>
      <div id="Logo"></div>
      <nav>
        <a href="/">Home</a>
        <a href="/manual">Manual</a>
        <a href="/doc" class="active">Documentation</a>
      </nav>
    </header>

    <main>
      <aside id="sidebar">
        <nav>

    <?js= this.nav ?>

        </nav>
      </aside>

      <content>
        <h1 class="page-title"><?js= title ?></h1>
        <?js= content ?>

        <footer>
          <div class="adddshere">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- https://os.js.org (RESPONSIVE) -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-6145716264521226"
                 data-ad-slot="9888011596"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>

          <p>OS.js &copy; Anders Evenrud 2011-2016</p>
          <p>Hosting by Github</p>
          <p>Generated with JSDoc</p>
        </footer>
      </content>
    </main>

    <script>
    (function() {
      (['HTMLCollection', 'NodeList', 'FileList']).forEach(function(p) {
        if ( window[p] ) {
          window[p].prototype.forEacH = Array.prototype.forEach;
        }
      });

      var a = location.pathname.split('/')
      a = a[a.length - 1].replace(/\.html/, '')

      function toggleFold(id, close) {
        document.querySelectorAll('li[data-name="' + id + '"] .sub').forEach(function(el) {
          el.style.display = close ? 'none' : 'block';
        });
        document.querySelector('li[data-name="' + id + '"] .folder').innerHTML = close ? '+' : '-';
        document.querySelector('li[data-name="' + id + '"] .folder').setAttribute('data-open', String(!close));
      }

      document.querySelectorAll('.folder').forEach(function(el) {
        el.addEventListener('click', function() {
          toggleFold(el.parentNode.getAttribute('data-name'), this.getAttribute('data-open') === 'true');
        });
      });

      toggleFold(a, false);

    })();
    </script>


    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  if ( window.location.hostname === 'os.js.org' ) {
    ga('create', 'UA-90971004-3', 'auto');
  } else {
    ga('create', 'UA-46087265-1', 'auto');
  }
  ga('send', 'pageview');
    </script>

    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'os-js/OS.js'
      };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/lang-css.min.js"></script>

  </body>
</html>
