---
title: OS.js Documentation
layout: doc
---

<h1>OS.js Documentation</h1>
<p>
  Use the top-right menu to navigate around. Documentation is split up into several pages, for your convenience.
</p>
<%= partial "docheader" %>
