---
title: OS.js Documentation
layout: doc
---

<h1>OS.js Documentation</h1>
<p>
  Use the top-right menu to navigate around. Documentation is split up into several pages, for your convenience.
</p>
<p>
  Official home page: <a href="http://os.js.org/">http://os.js.org/</a>
</p>
<p>
  Github project page: <a href="https://github.com/andersevenrud/OS.js-v2">https://github.com/andersevenrud/OS.js-v2</a>
</p>
