---
title: Tutorial - Create your own Handler
layout: doc
---
<h1>Tutorial: Create your own Handler</h1>
<p>
  The handler is the basis for communication, resource handling, settings and sessions.
</p>
<p>
  Use the included <a href="https://github.com/andersevenrud/OS.js-v2/blob/master/doc/example-handler.md">example handler</a> as a template. It uses the login capabilities for OS.js so you can have multiple users.
</p>

<h2>Files</h2>
<ul>
  <li>src/client/javascript/handlers/&lt;name&gt;/handler.js</li>
  <li>src/server/php/handlers/&lt;name&gt;/handler.php</li>
  <li>src/server/node/handlers/&lt;name&gt;/handler.js</li>
</ul>

<h2>Other handlers</h2>
<ul>
  <li><a href="https://github.com/andersevenrud/OS.js-v2/blob/master/doc/pam-handler.md">PAM</a></li>
</ul>
