---
title: Tutorial - Create your own Service
layout: doc
---
      <h1>Tutorial: Create your own Service</h1>
      <p>
        A <b>Service</b> works almost just like an application, only it has no UI (by default) and "runs in the background".
      </p>

      <h2>Create from template</h2>
      <div class="indent">
        <p>Simply run:</p>

        <pre>grunt create-package:default/MyName:service</pre>
        <p>
          The "default" is the name of the repository folder you want to place your package in.
        </p>
      </div>

      <h2>Update manifest</h2>
      <div class="indent">
        <p>
          The metadata file holds general information about your application and stuff used in the building process.
        </p>
        <p>
          <i>You don't have to do this, but this shows what values you can put in</i>
        </p>
        <table>
          <thead>
            <tr>
              <th>Key</th>
              <th>Description</th>
              <th>Required</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>className</td>
              <td>The name of your JavaScript namespace</td>
              <td>Yes</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>enabled</td>
              <td>If your package is enabled or not</td>
              <td>No</td>
              <td>true</td>
            </tr>
            <tr>
              <td>singular</td>
              <td>Allow only one instance of the application running</td>
              <td>No</td>
              <td>false</td>
            </tr>
            <tr>
              <td>autostart</td>
              <td>If you want to start package on login</td>
              <td>No</td>
              <td>false</td>
            </tr>
            <tr>
              <td>name</td>
              <td>The name of your package</td>
              <td>Yes</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>description</td>
              <td>The description of your package</td>
              <td>No</td>
              <td>&nbsp;</td>
            </tr>

            <tr>
              <td>preload</td>
              <td>
                The list of resources to preload
                <pre>
"preload":    [
  {"src": "main.js", "type": "javascript"},
  {"src": "main.css", "type": "stylesheet"},
  {"src": "foo.js", "type": "javascript", combine: false} // Do not combine this script in 'dist'
],
                </pre>
              </td>
              <td>Yes</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>Install</h2>
      <div class="indent">
        <p>Now run this command to add it to global manifest (make it visible in OS.js)</p>
        <pre>grunt manifest config packages:default/MyName</pre>
        <p>
          If you are using "dist-dev", you don't have to run the "packages" grunt command.
        </p>
      </div>
