---
title: Tutorial - Create your own Application
layout: doc
---
      <h1>Tutorial: Create your own application</h1>

<script type="text/javascript" src="https://asciinema.org/a/398wgp8eqav1hvddr7tyb4s2o.js" id="asciicast-398wgp8eqav1hvddr7tyb4s2o" async></script>

      <h2>Create from template</h2>
      <div class="indent">
        <p>Simply run:</p>

        <pre>grunt create-package:default/MyName</pre>
        <p>
          The "default" is the name of the repository folder you want to place your package in.
        </p>

        <p>This will create some source files for you with usable code. You'll have a basic running application with a Window.</p>
      </div>

      <h2>Update metadata</h2>
      <div class="indent">
        <p>
          The metadata file holds general information about your application and stuff used in the building process.
        </p>
        <p>
          <i>You don't have to do this, but this shows what values you can put in</i>
        </p>
        <table>
          <thead>
            <tr>
              <th>Key</th>
              <th>Description</th>
              <th>Required</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>className</td>
              <td>The name of your JavaScript namespace</td>
              <td>Yes</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>enabled</td>
              <td>If your package is enabled or not</td>
              <td>No</td>
              <td>true</td>
            </tr>
            <tr>
              <td>singular</td>
              <td>Allow only one instance of the application running</td>
              <td>No</td>
              <td>false</td>
            </tr>
            <tr>
              <td>name</td>
              <td>The name of your package</td>
              <td>Yes</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>description</td>
              <td>The description of your package</td>
              <td>No</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>category</td>
              <td>The category of your package</td>
              <td>No</td>
              <td>other</td>
            </tr>
            <tr>
              <td>icon</td>
              <td>
                The icon filename
                <pre>
# From icon theme:
"icon": "category/name.png",

# From application directory
"icon": "./name.png",
                </pre>
              </td>
              <td>Yes</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>splash</td>
              <td>Show a splash screen when application starts</td>
              <td>No</td>
              <td>true</td>
            </tr>
            <tr>
              <td>names</td>
              <td>
                Localization of the 'name' attribute
                <pre>
"names" : {
  "no_NO" : "Norwegian name"
}
                </pre>
              </td>
              <td>No</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>descriptions</td>
              <td>
                Localization of the 'description' attribute
                <pre>
"names" : {
  "no_NO" : "Norwegian description"
}
                </pre>
              </td>
              <td>No</td>
              <td>true</td>
            </tr>

            <tr>
              <td>mime</td>
              <td>
                What MIME types your package supports (Array with regexp)
                <pre>
"mime": [
  "^text",
  "inode\\/x\\-empty",
  "application\\/x\\-empty",
  "application\\/x\\-lua",
  "application\\/x\\-python",
  "application\\/javascript",
  "application\\/json"
],
                </pre>
              </td>
              <td>No</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>compability</td>
              <td>
                Check for these browser features when starting application (Array of strings)
                <pre>
# See OSjs.Utils.getCompability()

"compabiltiy": [
  "canvas", "blob", "audio", "video"
],
                </pre>
              </td>
              <td>No</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>preload</td>
              <td>
                The list of resources to preload
                <pre>
"preload":    [
  {"src": "main.js", "type": "javascript"},
  {"src": "main.css", "type": "stylesheet"},
  {"src": "foo.js", "type": "javascript", combine: false} // Do not combine this script in 'dist'
],
                </pre>
              </td>
              <td>Yes</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>Install</h2>
      <div class="indent">
        <p>Now run this command to add it to global manifest (make it visible in OS.js)</p>
        <pre>grunt manifest config packages:default/MyName</pre>
        <p>
          If you are using "dist-dev", you don't have to run the "packages" grunt command.
        </p>
      </div>
