---
title: Tutorial - Create your own Custom OS.js instance
layout: doc
---
<h1>Tutorial: Create your own Custom OS.js instance</h1>

<h2>Introduction</h2>
<p>This tutorial will help you configure and build your own OS.js instance or "distro", using the various grunt commands built into OS.js.</p>
<p>Below is a list of various aspects of OS.js that will be configured in this tutorial.</p>

<ul>
  <li>Adding Applications / Packages / Panel items / Themes</li>
  <li>Removing excess features / applications</li>
  <li>Configuring Authentication</li>
  <li>Configuring Multiple Users</li>
  <li>Rebranding</li>
  <li>Packinging and Deployment</li>
</ul>

<h2>Prerequisites</h2>
<p>Follow the installation steps for your particular platform <a href="https://github.com/os-js/OS.js/blob/master/INSTALL.md">here</a></p>


<h2>Adding Applications / Packages / Panel items / Themes to your distro</h2>

<h2>Configuring Authentication</h2>

<h2>Configuring Multiple Users</h2>

<h2>Rebranding</h2>
<p><i>Be aware of the license, the license terms must followed and must be accumpined to any derivative work of OS.js</i>.</p>

<h2>Packaging and Deployment</h2>
