---
title: Tutorial - Create IFrame Application
layout: doc
---
<h1>Tutorial: Create IFrame Application</h1>
<div class="indent">
  <p>
    Very useful if you want to convert something you already made or don't want to use the OS.js API.
  </p>
  <pre class="code">
grunt create-package:default/MyPackageName:iframe
  </pre>

  <h2>Create your application</h2>
  <p>
    Simply create the directory "data" in your application directory (src/packages/MyPackageName) with the file "index.html".
  </p>
  <p>
    Then go ahead and write your app in the "index.html" file.
  </p>

  <h2>Bi-directional communication</h2>
  <p>
    You can communicate between OS.js and your IFrame application using the browser APIs and some helper methods.
  </p>
  <ul>
    <li><a href="https://gist.github.com/andersevenrud/dd5b2ef49eb8c3888629">IFrame Application Code example</a></li>
    <li><a href="https://gist.github.com/andersevenrud/3ce81c9be9d8a6b8aa08">OS.js Application Code example</a></li>
  </ul>

  <h2>Including resources</h2>
  <p>
    If you want to include resources into your application, make sure to use relative paths.
  </p>
  <pre class="code">

&lt;script src="mylib.js"&gt;&lt;/script&gt;

&lt;link rel="stylesheet" type="text/css" src="mylib.css" /&gt;

  </pre>

  <h2>Tips</h2>
  <p>
    If you want to reaload your application when it has been updated simply run "OSjs.API.relaunch('ApplicationMyPackageName')" in the developer console of your browser.
  </p>

</div>
