--- title: Tutorial - Create IFrame Application layout: doc ---
<h1>Tutorial: Create IFrame Application</h1>
<div class="indent">
  <p>
    Very useful if you want to convert something you already made or don't want to use the OS.js API.
  </p>
  <pre class="code">
grunt create-package:default/MyPackageName:iframe
  </pre>

  <h2>Example code</h2>
  <p>
    In this example we have a simple directory called "data" inside the application with the file "index.html" where your code will be.
  </p>
  <pre class="code">
function ApplicationExample(args, metadata) {
  Application.apply(this, ['ApplicationExample', args, metadata, {
    src: 'data/index.html',
    title: metadata.name,
    icon: metadata.icon,
    width: 640,
    height: 480,
    allow_resize: false,
    allow_restore: false,
    allow_maximize: false
  }]);
}
  </pre>
  <p>
    Now create a file named "main.css", this will server how the window should look when the program is launched.
  </p>
  <pre class="code">
    .Window_ApplicationExample .WindowWrapper {
}

.Window_ApplicationExample .WindowWrapper > .ExampleIframe {
  width : 100%;
  height : 100%;
  background : white;
  color : #fff;
}
.Window_ApplicationExample .WindowWrapper > .ExampleIframe > iframe {
  width : 100%;
  height : 100%;
  border : 0;
  margin : 0;
  padding : 0;
  display : block;
  background : #000;
  color : #fff;
}
  </pre>
  <p>
    After that, look at the "metadata.json" which should look like this.
  </p>
  <pre class="code">
    {
      "className":  "ApplicationExample",
      "name":       "Example",
      "mime":       null,
      "icon":       "categories/applications-system.png",
      "preload":    [
        {"src": "main.js", "type": "javascript"}
      ]
    }
  </pre>
  <p>
    You can edit the metadata as you see fit, for this tutorial add "{"src": "main.css", "type": "stylesheet"}" into the preload section. After that run the grunt command, and then launch OS.js to view the application.
    Note that your application would be in the data folder which will container your resources for the iframe (css, javascript, and html).
  </p>

</div>
