<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }} | OS.js Manual</title>
    <meta name="description" content="OS.js Manual - {{ description }}" />
    <meta name="keywords" content="OS.js,Documentation,Client,Server,API,Tutorial,Tutorials,Manual,Manuals" />

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism-tomorrow.min.css">
    <link href="/css/manual.css" rel="stylesheet" />

    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/favicon.png" />
    <link rel="author" href="https://plus.google.com/101576798387217383063" />
    <link rel="publisher" href="https://plus.google.com/101576798387217383063" />

    <script type="text/javascript">
      if ( window.location.hostname === 'andersevenrud.github.io' ) {
        window.location = '//os.js.org' + window.location.pathname.replace(/\/OS\.js-v2/, '');
      }
    </script>
  </head>
  <body>
    <header>
      <div id="Logo"></div>
      <nav>
        <a href="/">Home</a>
        <a href="/manual" {{#startsWith "manual" this.path}}class="active"{{/startsWith}}>Manual</a>
        <a href="/doc" {{#startsWith "doc" this.path}}class="active"{{/startsWith}}>Documentation</a>
      </nav>
    </header>

    <main>
      <aside id="sidebar">
{{#startsWith "manual" this.path}}
        <nav>
          <ol>
            <li>
              <a href="/manual">Overview</a>
            </li>

            <li>
              <a href="/manual/installation">Installation</a>
              <ul>
                <li><a href="/manual/installation/nix">NIX</a></li>
                <li><a href="/manual/installation/windows">Windows</a></li>
                <li><a href="/manual/installation/other">Other</a></li>
              </ul>
            </li>

            <li>
              <a href="/manual/build">Build System</a>
              <ul>
                <li><a href="/manual/build/cli">Commands</a></li>
                <li><a href="/manual/build/grunt">Grunt</a></li>
              </ul>
            </li>

            <li>
              <a href="/manual/configuration">Configuration</a>
              <ul>
                <li><a href="/manual/configuration/#environment">Environment</a></li>
                <li><a href="/manual/configuration/#settings">Settings</a></li>
                <li><a href="/manual/configuration/#assets">Assets</a></li>
                <li><a href="/manual/configuration/#packages">Packages</a></li>
                <li><a href="/manual/configuration/#proxies">Proxies</a></li>
              </ul>
            </li>

            <li>
              <a href="/manual/client">Client</a>
              <ul>
                <li><a href="/manual/client/features">Features</a></li>
                <li><a href="/manual/client/broadway">Broadway</a></li>
              </ul>
            </li>

            <li>
              <a href="/manual/server">Server</a>
              <ul>
                <li><a href="/manual/server/node">Node</a></li>
                <li><a href="/manual/server/php">PHP</a></li>
              </ul>
            </li>

            <li>
              <a href="/manual/auth">Authentication</a>
              <ul>
                <li><a href="/manual/auth/modules">Modules</a></li>
                <li><a href="/manual/auth/permission">Groups and permissions</a></li>
              </ul>
            </li>

            <li>
              <a href="/manual/storage">Storage</a>
              <ul>
                <li><a href="/manual/storage/modules">Modules</a></li>
              </ul>
            </li>

            <li>
              <a href="/manual/connection">Connection</a>
              <ul>
                <li><a href="/manual/connection/websocket">WebSocket</a></li>
                <li><a href="/manual/connection/http">HTTP/HTTP2/HTTPS</a></li>
              </ul>
            </li>

            <li>
              <a href="/manual/api">API</a>
              <ul>
                <li><a href="/manual/api/client">Client</a></li>
                <li><a href="/manual/api/server">Server</a></li>
                <li>
                  <span>Usage</span>
                  <ul>
                    <li><a href="/manual/api/usage/curl">curl</a></li>
                    <li><a href="/manual/api/usage/vfs">VFS</a></li>
                  </ul>
                </li>
              </ul>
            </li>

            <li>
              <a href="/manual/vfs">VFS</a>
              <ul>
                <li><a href="/manual/vfs/#mountpoints">Mountpoints</a></li>
                <li>
                  <a href="/manual/vfs/transport">Transports</a>
                  <ul>
                    <li><a href="/manual/vfs/transport/#googledrive">Google Drive</a></li>
                    <li><a href="/manual/vfs/transport/#microsoft-onedrive">Microsoft OneDrive</a></li>
                    <li><a href="/manual/vfs/transport/#dropbox">Dropbox</a></li>
                    <li><a href="/manual/vfs/transport/#webdav">WebDAV</a></li>
                  </ul>
                </li>
              </ul>
            </li>

            <li>
              <a href="/manual/package">Package</a>
              <ul>
                <li><a href="/manual/package/#metadata">Metadata</a></li>
                <li><a href="/manual/package/#preload">Preload</a></li>
                <li><a href="/manual/package/#scripts">Scripts</a></li>
                <li><a href="/manual/package/#spawner">Spawner</a></li>
                <li><a href="/manual/package/#less-support">LESS Support</a></li>
                <li><a href="/manual/package/#server-apis">Server APIs</a></li>
                <li>
                  <span>Types</span>
                  <ul>
                    <li>
                      <a href="/manual/package/application">Application</a>
                      <ul>
                        <li><a href="/manual/package/application/events">Events</a></li>
                        <li><a href="/manual/package/application/windows">Windows</a></li>
                        <li><a href="/manual/package/application/gui">GUI</a></li>
                        <li><a href="/manual/package/application/responsive">Responsive</a></li>
                        <li><a href="/manual/package/application/misc">Misc</a></li>
                      </ul>
                    </li>
                    <li><a href="/manual/package/iframe">Iframe</a></li>
                    <li><a href="/manual/package/service">Service</a></li>
                    <li><a href="/manual/package/extension">Extension</a></li>
                  </ul>
                </li>
              </ul>
            </li>

            <li>
              <a href="/manual/gui">Scheme and GUI</a>
              <ul>
                <li><a href="/manual/gui/scheme">Scheme files</a></li>
                <li><a href="/manual/gui/elements">GUI Elements</a></li>
              </ul>
            </li>

            <li>
              <a href="/manual/corewm">CoreWM</a>
              <ul>
                <li><a href="/manual/corewm/#themes">Themes</a></li>
                <li><a href="/manual/corewm/#panel">Panel</a></li>
                <li><a href="/manual/corewm/#widget">Widget</a></li>
              </ul>
            </li>

            <li>
              <a href="/manual/development">Development</a>
              <ul>
                <li><a href="/manual/development/#intro">Introduction</a></li>
                <li><a href="/manual/development/#style">Style guide</a></li>
                <li><a href="/manual/development/#setup">Set up environment</a></li>
                <li><a href="/manual/development/#tips">Tips and tricks</a></li>
                <li><a href="/manual/development/#test">Testing</a></li>
                <li><a href="/manual/development/#contribute">Contributing</a></li>
              </ul>
            </li>

            <li><a href="/manual/community">Community</a></li>
          </ol>

        </nav>
{{/startsWith}}
      </aside>

      <content>
        {{{ contents }}}

        <footer>
          <div class="adddshere">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- https://os.js.org (RESPONSIVE) -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-6145716264521226"
                 data-ad-slot="9888011596"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>

          <p>OS.js &copy; Anders Evenrud 2011-2016</p>
          <p>Hosting by Github</p>
          <p>Generated with Metalsmith</p>
        </footer>
      </content>
    </main>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46087265-1', 'auto');
      ga('require', 'linkid');
      ga('send', 'pageview');
    </script>

    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'os-js/OS.js'
      };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

  </body>
</html>
