<p>
  Official home page: <a href="http://os.js.org/">http://os.js.org/</a>
</p>
<p>
  Github project page: <a href="https://github.com/andersevenrud/OS.js-v2">https://github.com/andersevenrud/OS.js-v2</a>
</p>
