---
title: OS.js - JavaScript Cloud/Web Desktop Platform
---

    <header>
      <div class="wrapper">
        <h1>OS.js</h1>
        <img alt="logo" src="/images/logo-header.png" />
        <h1>JavaScript Cloud/Web Desktop Platform</h1>
      </div>
    </header>

    <nav>
      <div class="wrapper">
        <ul>
          <li id="button_try"><a href="https://osjsv2.0o.no">Try the demo</a></li>
          <li id="button_view"><a href="https://github.com/os-js/OS.js">View source</a></li>
          <li id="button_download"><a href="#install">Install now</a></li>
        </ul>

        <p>
          <b>OS.js is a JavaScript web desktop implementation for your browser with a fully-fledged window manager, Application APIs, GUI toolkits and filesystem abstraction.</b>
        </p>
      </div>
    </nav>

    <main>
      <div class="wrapper">

        <section>
          <h2>Open-source</h2>
          <p>
            OS.js is completely free and open-source which means you can contribute to the development or use the code as you like. <a href="https://raw.githubusercontent.com/os-js/OS.js/master/LICENSE" class="super" target="_blank">View License</a>
          </p>

          <p>
            You can also join the [small, but awesome] <a href="https://gitter.im/os-js/OS.js">online community</a> to discuss features and future changes. If there's something you'd like to see in OS.js, hop in and let us know about it! It's also a place where you can seek help, or just hang out and talk about completely unrelated stuff.
          </p>

          <p>
            <br />
          </p>

          <p class="center">
            <a href="https://www.bithound.io/github/os-js/OS.js"><img src="https://camo.githubusercontent.com/db93334f89d768d9e5d1314b3b5cd0840dcd2d0f/68747470733a2f2f7777772e626974686f756e642e696f2f6769746875622f6f732d6a732f4f532e6a732f6261646765732f73636f72652e737667" alt="bitHound Score" data-canonical-src="https://www.bithound.io/github/os-js/OS.js/badges/score.svg" /></a>
            <a href="https://gitter.im/os-js/OS.js?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge"><img src="https://camo.githubusercontent.com/fed5b5512498193ce4bba599fd94cd12b9f56491/68747470733a2f2f696d672e736869656c64732e696f2f6769747465722f726f6f6d2f6e776a732f6e772e6a732e737667" alt="Gitter" data-canonical-src="https://img.shields.io/gitter/room/nwjs/nw.js.svg" /></a>
            <a href="https://travis-ci.org/os-js/OS.js"><img src="https://camo.githubusercontent.com/4cd200f22d00142629986d9cbcb51b145090dc2d/68747470733a2f2f7472617669732d63692e6f72672f6f732d6a732f4f532e6a732e7376673f6272616e63683d6d6173746572" alt="Travis CI Build Status" data-canonical-src="https://travis-ci.org/os-js/OS.js.svg?branch=master" /></a>
            <a href="https://www.codacy.com/app/os-js/OS.js"><img src="https://camo.githubusercontent.com/7874277828cd74ee0c528993cdf7ac7d37ff985c/68747470733a2f2f6170692e636f646163792e636f6d2f70726f6a6563742f62616467652f67726164652f3631363737663932643830643434366361333766376236616232666165303332" alt="Codacy Badge" data-canonical-src="https://api.codacy.com/project/badge/grade/61677f92d80d446ca37f7b6ab2fae032" /></a>
            <a href="https://gratipay.com/os-js/"><img src="https://camo.githubusercontent.com/0333a5e26a256073b612b1b2a125ee37b48a8d30/68747470733a2f2f696d672e736869656c64732e696f2f67726174697061792f6f732d6a732e737667" alt="Tips" data-canonical-src="https://img.shields.io/gratipay/os-js.svg" /></a>
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=andersevenrud%40gmail%2ecom&amp;lc=NO&amp;currency_code=USD&amp;bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted"><img src="https://camo.githubusercontent.com/11b2f47d7b4af17ef3a803f57c37de3ac82ac039/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f70617970616c2d646f6e6174652d79656c6c6f772e737667" alt="Donate" data-canonical-src="https://img.shields.io/badge/paypal-donate-yellow.svg" /></a>
            <a href="http://js.org"><img src="https://camo.githubusercontent.com/1d05dd726bc121bd231265c82be620414c003000/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6a732e6f72672d6f732d6666623430302e737667" alt="JS.ORG" data-canonical-src="https://img.shields.io/badge/js.org-os-ffb400.svg" /></a>
            <a href="http://gruntjs.com/"><img src="https://camo.githubusercontent.com/cbf50fd000d72753c35ecc7c8436e90210e7aec0/68747470733a2f2f63646e2e6772756e746a732e636f6d2f6275696c74776974682e737667" alt="Built with Grunt" data-canonical-src="https://cdn.gruntjs.com/builtwith.svg" /></a>
          </p>
        </section>

        <section>
          <h2>Fully Capable</h2>
          <div>
            <iframe width="770" height="480" src="//www.youtube.com/embed/bDlbblG4FsE" allowfullscreen></iframe>
          </div>
          <p>
            Built to feel like a traditional desktop, only with modern web technologies. Features a fully capable Window Manager and Desktop Environment that takes inspiration from Linux.
          </p>
          <p>
            Supports localization, theme customization, drag-and-drop, authentication and multi-user, group-based permissions, and much more.
          </p>
          <p>
            Comes with a default suite of applications for managing, viewing and editing of your files and out-of-the box support for WebDAV, Microsoft OneDrive, Google Drive and Dropbox.
          </p>
          <p>
            You can even stream your Linux applications with <i>Broadway</i> or connect to your remote desktop via <i>VNC</i>.
          </p>
          <p>
            Works on any modern browser and can be deployed on <i>all</i> platforms.
          </p>
        </section>

        <section>
          <h2>Customizable and Extendable</h2>
          <p>
            OS.js is built to be modular and customizable. You can easily change behaviour and the look of things by simply changing some configuration files.
          </p>
          <p>
            Also comes with a set of tools so you can create your own distributions and develop your own extensions and applications.
          </p>
          <p>
            Easily add new applications by simply downloading a repository online and copy it into your installation (some samples include a XMPP chat client, PDF Viewer, ZIP Archiver and Games).
          </p>
          <p>
            Thanks to the community the following translations are included: German, French, Itailan, Russian, Dutch, Polish, Spanish, Vietnamese, Bulgarian, Turkish, Slovakian, Korean and Norwegian.
          </p>
        </section>

        <section>
          <h2>Fully Documented</h2>
          <p>
            Everything has been documented and gathered on one location for your convenience. You can find generated API docs, manuals and tutorials in the <a href="/doc/">documentation section</a>.
          </p>
        </section>

        <section>
          <h2 id="install">Easy installation</h2>
          <p>
            Installation is done in a <a href="/doc/manuals/man-install.html">few simple steps</a>. You can also use the automated installers:
          </p>
          <p>
            <i>You need nodejs and npm to install and run OS.js</i>
          </p>

          <h3>NIX</h3>
          <p class="code">
curl -sS http://os.js.org/installer | sh
          </p>

          <h3>Windows</h3>
          <p class="code">
http://os.js.org/installer.exe
          </p>
        </section>

        <section>
          <h2>Contact and Community</h2>

          <p>You can find OS.js on: <a href="https://gitter.im/os-js/OS.js">Gitter</a>, <a href="https://www.youtube.com/playlist?list=PLzC5Z5D-YLyEoYXWrxplUIek5uRyF92iG">YouTube</a>, <a href="https://twitter.com/andersevenrud">Twitter</a>, <a href="https://plus.google.com/b/113399210633478618934/113399210633478618934">Google+</a>, <a href="https://www.facebook.com/pages/OSjs/226644300734574">Facebook</a>, <a href="http://www.reddit.com/r/osjs">Reddit</a>, <a href="https://www.openhub.net/p/OS_js">OpenHub</a>, <a href="https://groups.google.com/forum/#!forum/osjsplatform">Google Groups</a></p>
          <p>
            Or contact the <a href="http://andersevenrud.github.io/">author/maintainer</a>
          </p>
        </section>


        <section>
          <h2>Full list of features</h2>
          <ul>
            <li>Free and Open-source</li>
            <li>Very simple installation</li>
            <li>Works in any modern browser</li>
            <li>Server is deployable on any platform</li>
            <li>Can be built to run entirely in-browser without any server</li>
            <li>Dependency-free JavaScript frontend</li>
            <li>Easy to use APIs</li>
            <li>Customizable and easy to extend with custom code and modules etc.</li>
            <li>Supports <a href="/doc/manuals/man-multiuser.html">multi-user environments and authentication</a></li>
            <li>Virtual File System - Store your files across many different storage/cloud providers</li>
            <li>Desktop and Window Manager built to feel familiar to most users</li>
            <li>Drag-and-drop between applications</li>
            <li>Supports sessions so you can reload workspaces on any computer</li>
            <li>Localization and translations</li>
            <li>Comes with a small application suite</li>
            <li>Supports adding of packages via external repositories</li>
            <li>Comes with all the tools nesessry to build your own applications</li>
            <li>Client is written in Strict Mode JavaScript and uses ECMAScript 5.1 standards</li>
            <li>Follows industry standard style guides</li>
            <li>Comes with <a href="/doc/manuals/man-google-api.html">Google API Javascript Support</a></li>
            <li>Comes with <a href="/doc/manuals/man-windows-live-api.html">Windows Live API Javascript Support</a></li>
            <li><a href="/doc/manuals/man-google-api.html">Google Drive</a> support</li>
            <li><a href="http://os.js.org/doc/manuals/man-dropbox.html">Dropbox support</a></li>
            <li><a href="/doc/manuals/man-windows-live-api.html">OneDrive</a> support</li>
            <li>Run native GTK+ 3.x Applications via Broadway (<a href="https://github.com/os-js/OS.js/issues/29">very experimental</a>)</li>
            <li>Can be deployed using X11 to work as a full-fledged desktop solution</li>
          </ul>
        </section>

<%= partial "adsense" %>

      </div>
    </main>

    <footer>
      <div class="wrapper">
        <img alt="footer-logo" src="images/logo-footer.png" />
        <p>
          OS.js &copy; Anders Evenrud 2011-2016
          <br />
          Hosting by Github
        </p>
      </div>
    </footer>
